.App {
  min-width: 960px;
  max-width: 960px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  flex-wrap: wrap;
  background-color: #EEF2FA;
}

.Background{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  flex-wrap: wrap;
  background-color: #EEF2FA;
}

.spacer {
  width: 100%;
  height: 5%;
}

.App-logo {
  margin-top : 5%;
  width:150px;
}

.logoCard {
  width: 100%;
  height: 5%;
  margin-top : 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataCard {
  background-color: white;
  border-radius: 0.5em;

  padding: 1em;

}

.chartCard {
  border-radius: 25px;
  width: 87%;
  height: 50%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clientCard pre { 
  white-space: pre-wrap; /* break long lines */
  font-size: 16px;  
}

.clientCard b { 
  white-space: pre-wrap;
  font-size: 30px;  
}

.clientCard {
  border-radius: 25px;
  width: 28%;
  height: 20%;
  margin-left: 5%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadCard {
  border-radius: 25px;
  width: 55%;
  height: 20%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadCardLeft{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.downloadCardLeftTop{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.downloadCardLeftBottom{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.downloadCardRight{
  width: 30%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


button {
  background-color: white;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

/* Hides taps in Authenticator */
.amplify-tabs {
  display: none !important;
}