.App {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  flex-wrap: wrap;
  background-color: #EEF2FA;
}

.Background{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  flex-wrap: wrap;
  background-color: #EEF2FA;
}

.spacer {
  width: 100%;
  height: 20%;
  min-height: 100px;
}

.App-logo {
  margin-top : 5%;
  width:150px;
}

.logoCard {
  width: 100%;
  height: 5%;
  margin-top : 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataCard {
  background-color: white;
  border-radius: 0.5em;
  max-width: 530px;
  padding: 1em;

}

.chartCard {
  border-radius: 25px;
  width: 87%;
  max-width: 1100px;
  height: 400px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clientCard pre { 
  white-space: pre-wrap; /* break long lines */
  font-size: 16px;  
}

.clientCard b { 
  white-space: pre-wrap;
  font-size: 30px;  
}

.clientCard {
  border-radius: 25px;
  width: 30%;
  height: 200px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadCard {
  border-radius: 25px;
  width: 55%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downloadCardLeft{
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.downloadCardLeftTop{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.downloadCardLeftBottom{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.downloadCardRight{
  width: 30%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


button {
  background-color: white;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

/* Hides taps in Authenticator */
.amplify-tabs {
  display: none !important;
}

.researchers-list {
  max-height: 200px; 
  overflow-y: auto;
  padding: 5px; 
}

.card {
  margin-bottom: 10px; 
}

.home-body {
  display: block;
  width: 50%;
  height: fit-content;
  text-align: center;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top:10%;
  position: relative;
}

.study-title {
  text-align: center;
}

.studies {
  margin-top: 5%;
  margin-bottom: 5%;
}

.study-card {
  display: block;
  max-width: 100%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

.auth-wrapper {
  height: 80%;
  width: 100%;
}

.auth-inner {
  height: 100%;
  width: 100%;
}

.d-grid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.non-admin {
  margin-top: 5%;
}

.download-button {
  width: 30%;
  margin-top: 15px;
  border: solid;
  left: 10%;
  position: relative;
  border-width: 1px;
}

.manage-button {
  width: 30%;
  margin-top: 15px;
  border: solid;
  left: 30%;
  position: relative;
}

.card-titles {
  font-weight: bold;
  color: #0d6efd;

}

.card-titles bottom {
  padding-bottom: 10px;
}

.create-form {
  margin-left:auto;
  margin-right: auto;
  display: block;
  width: 290px;
}

.user-form {
  margin-left:auto;
  margin-right: auto;
  display: block;
  width: 400px;
}